.wrapper{
  display: flex;
}

.side-bar{
  width:300px;
  background-color: #253141;
  height:100vh;
}

.side-bartop{
  height:100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #253141;
}
.side-bartopleft a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.side-bartopright a{
  font-size: 10px;
  color:deepskyblue;
  text-decoration: none;
  border:1px solid lightblue;
  padding: 14px;
}

.side-barmain{
  height:calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room-name a{
  color: white;
  text-decoration: none;
}

.chat{
  width:calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-top{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.chat-topleft{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.chat-topright{
  margin-top: 40px;
}
.chat-topright a{
  color: darkred;
  border:1px solid darkred;
  padding: 20px;
  text-decoration: none;
}


.chat-center{
  height:calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
  overflow: scroll;
}
.name-date{
  margin-top: 10px;
  display: flex;
}
.name{
  margin-right: 10px;
  font-size: 16px;
  color: #434a54;
}
.date{
  font-size: 12px;
  color: #999;
}
.message{
  font-size: 14px;
  color:#434a54;
  margin: 10px 0 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}